.hpe-header {
  position: relative;
  overflow: hidden;
  padding: 3em 3em 100px 3em;
  &--primary {
    background-color: $palette--bg--primary;
    color: #FFF;
  }
  &__content {
    h1 {
      font-size: 3.4em;
    }
    p {
      font-size: 1.6em;
      max-width: 850px;
    }
  }
  &__slant {
    position: absolute;
    z-index: 1;
    width: 120%;
    height: 200px;
    margin-top: 3em;
    margin-left: -100px;
    background-color: white;
    transform: rotate(2.5deg);
  }
  &__logo {
    height: 55px;
  }
}