<header class="hpe-footer">
  <div class="hpe-footer__content">
  	<h2>Security operations products</h2>
  	<div layout="row" layout-wrap>
  		<div flex="50">
  			<h4>ArcSight Data Platform <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Truffaut meggings celiac YOLO artisan, quinoa chicharrones knausgaard bitters. 
  			</p>
  		</div>
  		<div flex="50">
  			<h4>ArcSight Data Platform <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Truffaut meggings celiac YOLO artisan, quinoa chicharrones knausgaard bitters. 
  			</p>
  		</div>
  		<div flex="50">
  			<h4>ArcSight Data Platform <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Truffaut meggings celiac YOLO artisan, quinoa chicharrones knausgaard bitters. 
  			</p>
  		</div>
  		<div flex="50">
  			<h4>ArcSight Data Platform <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Truffaut meggings celiac YOLO artisan, quinoa chicharrones knausgaard bitters. 
  			</p>
  		</div>
  	</div>
  </div>
</header>