<header class="hpe-footer">
  <div class="hpe-footer__content">
  	<h2>Security operations products</h2>
  	<div layout="row" layout-wrap>
  		<div flex="50">
  			<h4>ArcSight Data Platform <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Open standards data collection with an intelligent event broker
  			</p>
  		</div>
  		<div flex="50">
  			<h4>ArcSight ESM <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Security Information and Event Management (SIEM) with real-time event correlation
  			</p>
  		</div>
  		<div flex="50">
  			<h4>ArcSight UBA <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Integrated user and behavior analytics to detect unknown threats
  			</p>
  		</div>
  		<div flex="50">
  			<h4>ArcSight Investigate <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Automated investigation with 10x faster search
  			</p>
  		</div>
  	</div>
  </div>
</header>