<div class="hpe-footer">
  <div class="hpe-footer__content">
  	<h2>Security operations products</h2>
  	<div layout="row" layout-wrap>
  		<div flex="50">
  			<h4><a href="https://saas.hpe.com/en-us/software/siem-data-collection-log-management-platform">ArcSight Data Platform</a> <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Open standards data collection with an intelligent event broker
  			</p>
  		</div>
  		<div flex="50">
  			<h4><a href="https://saas.hpe.com/en-us/software/siem-security-information-event-management">ArcSight ESM</a> <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Security Information and Event Management (SIEM) with real-time event correlation
  			</p>
  		</div>
  		<div flex="50">
  			<h4><a href="https://saas.hpe.com/en-us/software/siem-big-data-security-analytics">ArcSight UBA</a> <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Integrated user and behavior analytics to detect unknown threats
  			</p>
  		</div>
  		<div flex="50">
  			<h4><a href="https://saas.hpe.com/en-us/software/arcsight-investigate">ArcSight Investigate</a> <i class="fa fa-arrow-right hpe-icon"></i></h4>
  			<p>
  				Automated investigation with 10x faster search
  			</p>
  		</div>
  	</div>
  </div>
</div>
<div class="hpe-footer__bottom">
  <a href="https://saas.hpe.com/en-us/software/security-operations"><img src="assets/images/hpe-logo--light.svg" alt="HPE" class="hpe-footer__logo"></a>
</div>