md-slider[md-discrete] .md-sign,
md-slider[md-discrete] .md-sign:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
md-slider[disabled][readonly] .md-sign {
  background-color: $palette--accent;
  &::after {
  	border-top-color: $palette--accent;
  }
}
.results-breakdown {
	margin-top: 4em;
	&__section {
		margin-bottom: 4em;
    &:last-of-type {
      margin-bottom: 1em;
    }
    h3 {
      margin-bottom: 0.25em;
    }
	}
}
.slider {
  margin-top: 2em;
  &__label {
    font-weight: $font__weight--bold;
    color: $palette--gray;
    &__max {
      text-align: right;
    }
  }
}