md-slider[md-discrete] .md-sign,
md-slider[md-discrete] .md-sign:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
md-slider[disabled][readonly] .md-sign {
  background-color: $palette--accent;
  &::after {
  	border-top-color: $palette--accent;
  }
}
.results-breakdown {
	margin-top: 4em;
	&__section {
		margin-bottom: 4em;
    &:last-of-type {
      margin-bottom: 1em;
    }
    h3 {
      margin-bottom: 0.25em;
    }
	}
}
.hpe-slider {
  margin-top: 2em;
  position: relative;
  &__label {
    font-weight: $font__weight--bold;
    color: $palette--gray;
    &__max {
      text-align: right;
    }
  }
  &__benchmark-thumb {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    margin-left: -30px; // To offset the left property in the element
    border-radius: 25px;
    background-color: purple;
    top: -17px;
    &__text {
      color: #FFF;
      position: absolute;
      font-size: 12px;
      font-weight: $font__weight--bold;
      top: 7px;
      left: 50%;
      margin-left: -9px;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 16px;
      width: 16px;
      top: 17px;
      left: 7px;
      transform: rotate(45deg);
      background: purple;
    }
  }
}
.hpe-cta {
  position: relative;
  overflow: hidden;
  background-color: $palette--bg--secondary;
  color: #FFF;
  p.intro-text {
    font-size: 1.6em;
  }
  &__slant {
    position: absolute;
    z-index: 1;
    width: 120%;
    height: 200px;
    margin-top: -100px;
    background-color: white;
    transform: rotate(2.5deg);
  }
  .hpe-container {
    padding-top: 150px;
  }
  .hpe-form {
    @media screen and (min-width: 768px) {
      max-width: 500px;
      margin: auto;
    }
    &__title {
      text-align: center;
    }
    &__action {
      text-align: center;
    }
  }
}
