<md-card class="hpe-horizontal-stepper" steps="$ctrl.steps">
	<div class="hpe-stepper__header" layout="row" layout-align="space-between">
		<div class="hpe-stepper__header__step" ng-repeat="step in $ctrl.steps">
			<div class="hpe-step__label" layout="row">
			  <div class="hpe-step__label__indicator">
			    <span ng-if="$ctrl.complete" class="fa fa-check"></span>
			    <span ng-if="!$ctrl.complete">{{step}}</span>
			  </div>
			  <h4 class="hpe-step__label__name" ng-class="{active: $ctrl.active}">Step name</h4>
			</div>
		</div>
	</div>
</md-card>