.hpe-horizontal-stepper {
	&__header {
		padding: 1em 2em;
		border-bottom: thin solid $palette--light-gray;
	}
	&__line {
    border-bottom: thin solid $palette--light-gray;
    width: 80%;
	}
}
.hpe-horizontal-step {
	&__body {
		overflow: hidden;
		padding-top: 2em;
		background-color: #FFF;
	}
	&__actions {
		padding-top: 1em;
		.fa-info-circle {
			color: $palette--alert;
		}
	}
}