<hpe-header>
  <h1>HPE Security Assessment</h1>
  <p class="intro-text">Sed non lacus vulputate, rutrum enim varius, iaculis lacus. Integer mauris erat, varius eget egestas et, accumsan in dui. Praesent elit nunc, vehicula vel consectetur eget, placerat id dui.</p>
</hpe-header>
<section class="hpe-container">
  <h2>Begin the assessment</h2>
  <horizontal-stepper steps="$ctrl.steps">
    <horizontal-step ng-repeat="step in $ctrl.steps" ng-show="step.active" active="step.active">
      <div layout="column">
        <p flex>
          {{step.description}}
        </p>
        <div layout="row">
          <div class="options__labels" layout="row" layout-align="space-between" flex flex-offset-gt-sm="50">
            <div>
              <strong>Never/Not started</strong>
            </div>
            <div>
              <strong>Always/Complete</strong>
            </div>
          </div>
        </div>
        <div class="questions">
          <question ng-repeat="question in step.questions" question="question"></question>
        </div>
        <div class="hpe-step__actions" layout="row" layout-align="end">
          <md-button class="md-raised" ng-hide="$first" ng-click="$ctrl.previousStep();" aria-label="continue">
            Back
          </md-button>
          <md-button class="md-accent md-raised" ng-disabled="$ctrl.isSectionIncomplete(step.questions);" ng-click="$ctrl.nextStep();" aria-label="continue">
            Continue
          </md-button>
        </div>
        <div layout="row" layout-align="end" class="hpe-step__actions">
          <em ng-show="$ctrl.isSectionIncomplete(step.questions);"><i class="fa fa-info-circle"></i> Complete all questions in this section to continue</em>
        </div>
      </div>
    </horizontal-step>
  </horizontal-stepper>
</section>
<!-- <div id="shadow-form" style="display:none">
  <div ng-repeat="step in $ctrl.steps">
    <h3>{{step.name}}</h3>
    <div ng-repeat="question in step.questions">
      <label>Question {{question.number}}</label>
      <input
        type="text" 
        class="regInput microToolInput"
        id="{{question.dbEntity}}"
        data-dbentity="{{question.dbEntity}}"
        data-analyticsname="{{question.analyticsName}}" 
        ng-model="question.value"
        >
    </div>
  </div>
  <button id="msUpdateInputs" onclick="msUpdateInputs()">Update</button>
</div> -->
