// Variables
$palette--bg: #F5F5F5;
$palette--bg--primary: #425563;
$palette--bg--secondary: #614767;
$palette--accent: #01A982;
$palette--light-gray: #CCCCCC;
$palette--black: #333333;
$palette--gray: #999999;
$font__weight--bold: 800;
$rule: thin solid $palette--light-gray;

// Animation

@mixin quint-ease-out($target: all, $duration: 400ms, $target2: false, $duration2: 400ms) {
  @if $target2 == false {
    transition: $target $duration cubic-bezier(0.23, 1, 0.32, 1);
  }
  @else {
    transition: $target $duration cubic-bezier(0.23, 1, 0.32, 1), $target2 $duration2 cubic-bezier(0.23, 1, 0.32, 1);
  }
}

// Main styles

body, .app {
  background-color: #FFF;
}

p {
  max-width: 700px;
}
.hpe-container {
  padding: 3em;
}
md-slider[md-discrete] .md-sign,
md-slider[md-discrete] .md-sign:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
md-slider[disabled][readonly] .md-sign {
  background-color: $palette--accent;
  &::after {
  	border-top-color: $palette--accent;
  }
}
