<hpe-header>
  <img src="assets/images/hpe-logo--dark.svg" alt="hpe" class="hpe-header__logo">
  <h1>HPE Security Assessment</h1>
  <p class="intro-text">Meggings woke sartorial, tote bag kogi DIY cornhole vape artisan pitchfork banh mi. Fixie aesthetic lo-fi, +1 salvia sustainable seitan retro migas pitchfork. Synth sriracha blog brunch. Celiac cornhole mumblecore, 90's slow-carb jianbing PBR&B vape fam.</p>
</hpe-header>
<section class="hpe-container">
  <h2>Begin the assessment</h2>
  <stepper active-step="{{$ctrl.activeStep}}" completed-steps="{{$ctrl.completedSteps}}">
    <step name="Governance" label="A">
      <div layout="column">
        <p flex>
          Man bun lomo ugh cloud bread meditation, cardigan YOLO 90's literally meh drinking vinegar cliche selfies hashtag. Yuccie williamsburg trust fund pitchfork bicycle rights. Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi. Raclette before they sold out bushwick, wayfarers keffiyeh microdosing pickled franzen roof party iPhone shoreditch VHS. La croix venmo tacos intelligentsia, poutine tofu fanny pack neutra austin authentic live-edge XOXO crucifix.
        </p>
        <div layout="row">
          <div class="options__labels" layout="row" layout-align="space-between" flex flex-offset="50">
            <div>
              <strong>Never/Not started</strong>
            </div>
            <div>
              <strong>Always/Complete</strong>
            </div>
          </div>
        </div>
        <question question-number="1" question-text="We have completed an inventory of our software portfolio (including in-house development, COTS, third-party development, etc.)"></question>
        <question question-number="2" question-text="Applications in our portoflio have been classified according to data type"></question>
        <question question-number="3" question-text="We have completed a risk exposure anlaysis of our business critical applications"></question>
        <div class="hpe-step__actions">
        <question question-number="4" question-text="Our security goals are documented and communciated to stakeholders"></question>
        <question question-number="5" question-text="There is a specific group/team that is responsible  for Appsec"></question>
        <question question-number="6" question-text="We have documented and communicated secure coding standards to everyone involved in software development"></question>
        <question question-number="7" question-text="Our software suppliers and development partners are required to find and fix security vulnerabilities"></question>
        <question question-number="8" question-text="We have a role-based security education program in place  to support application security awareness"></question>
          <md-button class="md-accent md-raised" ng-click="$ctrl.nextStep();" aria-label="continue">Continue</md-button>
        </div>
      </div>
    </step>
    <step name="Construction" label="B">
      <div layout="column">
        <p flex>
          Man bun lomo ugh cloud bread meditation, cardigan YOLO 90's literally meh drinking vinegar cliche selfies hashtag. Yuccie williamsburg trust fund pitchfork bicycle rights. Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi. Raclette before they sold out bushwick, wayfarers keffiyeh microdosing pickled franzen roof party iPhone shoreditch VHS. La croix venmo tacos intelligentsia, poutine tofu fanny pack neutra austin authentic live-edge XOXO crucifix.
        </p>
        <div layout="row">
          <div class="options__labels" layout="row" layout-align="space-between" flex flex-offset="50">
            <div>
              <strong>Never/Not started</strong>
            </div>
            <div>
              <strong>Always/Complete</strong>
            </div>
          </div>
        </div>
        <question question-number="9" question-text="Secure frameworks and design features are considered during the design process"></question>
        <question question-number="10" question-text="We have a documented process track use of open source components and verify their security"></question>
        <question question-number="11" question-text="Development teams follow secure coding practices"></question>
        <question question-number="12" question-text="Threat models are built and maintained on a per-application basis"></question>
        <div class="hpe-step__actions">
          <md-button class="md-accent md-raised" ng-click="$ctrl.nextStep();" aria-label="continue">Continue</md-button>
          <md-button ng-click="$ctrl.previousStep();" aria-label="continue">Back</md-button>
        </div>
      </div>
    </step>
    <step name="Verification" label="C">
      <div layout="column">
        <p flex>
          Man bun lomo ugh cloud bread meditation, cardigan YOLO 90's literally meh drinking vinegar cliche selfies hashtag. Yuccie williamsburg trust fund pitchfork bicycle rights. Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi. Raclette before they sold out bushwick, wayfarers keffiyeh microdosing pickled franzen roof party iPhone shoreditch VHS. La croix venmo tacos intelligentsia, poutine tofu fanny pack neutra austin authentic live-edge XOXO crucifix.
        </p>
        <div layout="row">
          <div class="options__labels" layout="row" layout-align="space-between" flex flex-offset="50">
            <div>
              <strong>Never/Not started</strong>
            </div>
            <div>
              <strong>Always/Complete</strong>
            </div>
          </div>
        </div>
        <question question-number="13" question-text="We conduct regular secure code reviews"></question>
        <question question-number="14" question-text="We conduct secure design reviews for new projects"></question>
        <question question-number="15" question-text="Software architects are involved in the secure design reviews"></question>
        <question question-number="16" question-text="We have an established security checkpoint and stakeholders are involved in go/no go decision before application goes into production"></question>
        <question question-number="17" question-text="Stakeholders regularly review the results or metrics from the security code review activities"></question>
        <question question-number="18" question-text="Development teams regularly  perform source code analysis as part of their workflow"></question>
        <question question-number="19" question-text="We perform penetration tests on software releases"></question>
        <div class="hpe-step__actions">
          <md-button class="md-accent md-raised" ng-click="$ctrl.nextStep();" aria-label="continue">Continue</md-button>
          <md-button ng-click="$ctrl.previousStep();" aria-label="continue">Back</md-button>
        </div>
      </div>
    </step>
    <step name="Deployment" label="D">
      <div layout="column">
        <p flex>
          Man bun lomo ugh cloud bread meditation, cardigan YOLO 90's literally meh drinking vinegar cliche selfies hashtag. Yuccie williamsburg trust fund pitchfork bicycle rights. Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi. Raclette before they sold out bushwick, wayfarers keffiyeh microdosing pickled franzen roof party iPhone shoreditch VHS. La croix venmo tacos intelligentsia, poutine tofu fanny pack neutra austin authentic live-edge XOXO crucifix.
        </p>
        <div layout="row">
          <div class="options__labels" layout="row" layout-align="space-between" flex flex-offset="50">
            <div>
              <strong>Never/Not started</strong>
            </div>
            <div>
              <strong>Always/Complete</strong>
            </div>
          </div>
        </div>
        <question question-number="20" question-text="In addition to our app security testing program, we wrap additional protection around  high-risk applications"></question>
        <question question-number="21" question-text="We monitor applications running in production to collect and respond to threat intelligence"></question>
        <question question-number="22" question-text="We have a complete feedback loop to share incidents and identified vulnerabilitiy information back to development and design teams"></question>
        <div class="hpe-step__actions">
          <md-button class="md-accent md-raised" ui-sref="results" aria-label="continue">Complete</md-button>
          <md-button ng-click="$ctrl.previousStep();" aria-label="continue">Back</md-button>
        </div>
      </div>
    </step>
  </stepper>
</section>
