// Variables
$palette--bg: #F5F5F5;
$palette--bg--primary: #425563;
$palette--bg--secondary: #614767;
$palette--accent: #01A982;
$palette--light-gray: #CCCCCC;
$palette--black: #333333;
$palette--gray: #999999;
$font__weight--bold: 700;
$rule: thin solid $palette--light-gray;

// Animation

@mixin quint-ease-out($target: all, $duration: 400ms, $target2: false, $duration2: 400ms) {
  @if $target2 == false {
    transition: $target $duration cubic-bezier(0.23, 1, 0.32, 1);
  }
  @else {
    transition: $target $duration cubic-bezier(0.23, 1, 0.32, 1), $target2 $duration2 cubic-bezier(0.23, 1, 0.32, 1);
  }
}

// Main styles
body {
  font-family: 'metric';
  font-size: 18px;
}
body, .app {
  background-color: #FFF;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.15em;
  font-weight: $font__weight--bold;
}
.md-button {
  font-weight: $font__weight--bold;
}
.md-button.md-raised.md-raised {
  color: #FFF;
}
p {
  max-width: 700px;
}
.hpe-container {
  padding: 3em;
}
.hpe-icon {
  background-color: $palette--accent;
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  position: relative;
  top: 0.2rem;
  &--button {
    top: 0.3rem;
    margin-right: 0.25rem;
    &::before {
      top: 6px !important;
      left: 5px !important;
    }
  }
  &::before {
    font-size: 0.7rem;
    position: absolute;
    top: 5px;
    left: 6px;
  }
}
