<header class="hpe-header hpe-header--primary">
  <div class="hpe-header__content">
    <h1>HPE Security Assessment</h1>
    <p>Meggings woke sartorial, tote bag kogi DIY cornhole vape artisan pitchfork banh mi. Fixie aesthetic lo-fi, +1 salvia sustainable seitan retro migas pitchfork. Synth sriracha blog brunch. Celiac cornhole mumblecore, 90's slow-carb jianbing PBR&B vape fam.</p>
  </div>
</header>

<md-content flex layout-padding>
  <md-button class="md-accent md-raised">Something</md-button>
  <md-radio-group ng-model="foo">
    <md-radio-button value="Apple">Apple</md-radio-button>
    <md-radio-button value="Banana" class="md-accent"> Banana </md-radio-button>
    <md-radio-button value="Mango">Mango</md-radio-button>
  </md-radio-group>
</md-content>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>
