.hpe-step {
	margin-bottom: 2em;
	&__line {
		height: 1em;
		margin: 0.5em 0.65em;
    background: $palette--light-gray;
    width: 1px;
    position: absolute;
	}
	&__line.active {
		height: 90%;
	}
	&__line.last {
		background-color: transparent;
	}
	&__body {
		max-height: 0px !important;
		overflow: hidden;
		margin-left: 2em;
	}
	&__body.active {
		max-height: inherit !important;
	}
	&__label {
		&__indicator {
			text-align: center;
			background-color: $palette--accent;
			color: #FFF;
			border-radius: 25px;
			width: 22px;
			height: 22px;
			margin-right: 0.75em;
			font-size: 0.8em;
			position: relative;
			span {
				position: absolute;
				top: 0.25em;
    		left: 0.55em;
			}
		}
		&__name {
			padding-top: 0.15em;
		}
	}
}