.hpe-step {
	margin-bottom: 2em;
	&__line {
		height: 1em;
		margin: 0.5em 0.65em;
    background: $palette--light-gray;
    width: 1px;
    position: absolute;
	}
	&__line.active {
		height: 90%;
	}
	&__line.last:not(.active) {
		background-color: transparent;
	}
	&__body {
		max-height: 0px !important;
    @include quint-ease-out(max-height, 600ms);
		overflow: hidden;
		margin-left: 1em;
	}
	&__body.active {
		max-height: 1000px !important;
    @include quint-ease-out(max-height, 800ms);
    .md-button {
    	margin-left: 0;
    }
	}
	&__label {
		&__indicator {
			text-align: center;
			background-color: $palette--accent;
			color: #FFF;
			border-radius: 25px;
			width: 22px;
			height: 22px;
			margin-right: 0.75em;
			font-size: 0.8em;
			position: relative;
			span {
				position: absolute;
				top: 0.25em;
    		left: 0.55em;
    		&::before {
    			position: absolute;
    			top: 0.22em;
			    left: -0.2em;
    		}
			}
		}
		&__name {
			padding-top: 0.15em;
			color: $palette--gray;
			font-weight: $font__weight--bold;
			&.active {
				color: $palette--black;
			}
		}
	}
}