<div layout="row" class="questions" layout-align="space-between">
  <div class="questions__text" flex="40">
    1. Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi?
  </div>
  <div class="options" flex="50" flex-offset-gt-sm="10">
    <md-radio-group ng-model="foo" layout="row" layout-align="space-between">

      <div class="options__single" layout="column">
        <div class="options__number">1</div>
        <md-radio-button value="1"></md-radio-button>
      </div>

      <div class="options__single" layout="column">
        <div class="options__number">2</div>
        <md-radio-button value="2"></md-radio-button>
      </div>

      <div class="options__single" layout="column">
        <div class="options__number">3</div>
        <md-radio-button value="3"></md-radio-button>
      </div>

      <div class="options__single" layout="column">
        <div class="options__number">4</div>
        <md-radio-button value="4"></md-radio-button>
      </div>

    </md-radio-group>
  </div>
</div>