<div layout="row" layout-align="space-between">
  <div class="questions__text" flex="40">
    Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi?
  </div>
  <div class="options" flex="40" flex-offset-gt-sm="20">
    <md-radio-group ng-model="foo" layout="row" layout-align="space-between">

      <div class="options__single" layout="column">
        <div class="options__number">1</div>
        <md-radio-button value="Apple"></md-radio-button>
      </div>

      <div class="options__single" layout="column">
        <div class="options__number">2</div>
        <md-radio-button value="Banana"></md-radio-button>
      </div>

      <div class="options__single" layout="column">
        <div class="options__number">3</div>
        <md-radio-button value="Mango"></md-radio-button>
      </div>

      <div class="options__single" layout="column">
        <div class="options__number">4</div>
        <md-radio-button value="Mango"></md-radio-button>
      </div>

    </md-radio-group>
  </div>
</div>