<div class="hpe-step">
  <div class="hpe-step__label" layout="row">
    <div class="hpe-step__label__indicator"><span>{{$ctrl.label}}</span></div>
    <div class="hpe-step__label__name">{{$ctrl.name}}</div>
  </div>
  <div layout="row">
    <div class="hpe-step__line" flex="5"  ng-class="{active: $ctrl.active}"></div>
    <div class="hpe-step__body" flex="95" ng-class="{active: $ctrl.active}">
      <div ng-transclude></div>
      <div class="hpe-step__actions">
        <md-button class="md-accent md-raised" ng-click="$ctrl.nextStep();" aria-label="continue">Continue</md-button>
      </div>
    </div>
  </div>
</div>