<div class="hpe-steppers__single"
>
  <div class="hpe-steppers__label" layout="row">
    <div class="hpe-steppers__label__indicator">{{$ctrl.label}}</div>
    <div class="hpe-steppers__label__name">{{$ctrl.name}}</div>
  </div>
  <div class="hpe-steppers__body">
    <div class="step-content" layout="column">
      <p flex>
        Man bun lomo ugh cloud bread meditation, cardigan YOLO 90's literally meh drinking vinegar cliche selfies hashtag. Yuccie williamsburg trust fund pitchfork bicycle rights. Affogato kickstarter williamsburg, fingerstache taxidermy squid literally marfa banh mi. Raclette before they sold out bushwick, wayfarers keffiyeh microdosing pickled franzen roof party iPhone shoreditch VHS. La croix venmo tacos intelligentsia, poutine tofu fanny pack neutra austin authentic live-edge XOXO crucifix.
      </p>
      <div layout="row">
        <div class="options__labels" layout="row" layout-align="space-between" flex flex-offset="50">
          <div>
            <strong>Never/Not started</strong>
          </div>
          <div>
            <strong>Always/Complete</strong>
          </div>
        </div>
      </div>
      <question></question>
      <question></question>
      <question></question>
    </div>
  </div>
  <div class="hpe-steppers__actions">
    <md-button class="md-accent md-raised" ng-click="$ctrl.nextStep();">Continue</md-button>
  </div>
</div>